# From ./discord/requirements.txt
discord

# From ./dcodefr/requirements.txt
selenium 
beautifulsoup4
webdriver-
undetected-chromedriver

# From ./Currentemp/requirements.txt
openmeteo-requests
requests-cache 
retry-requests 
geopy

