# From ./Currentemp/requirements.txt
openmeteo-requests
requests-cache 
retry-requests 
geopy

# From ./customchatbot/requirements.txt
transformers
torch
sentence-transformers

# From ./dcodefr/requirements.txt
selenium 
beautifulsoup4
webdriver-manager
undetected-chromedriver
playwright

# From ./discord/requirements.txt
discord

# From ./household_income/requirements.txt
pdfplumber
requests

# From ./requirements.txt


# From ./localimagebot/requirements.txt
torch 
diffusers 
transformers 
accelerate 
safetensors

