# From ./discord/requirements.txt
discord

# From ./household_income/requirements.txt
pdfplumber
requests

# From ./dcodefr/requirements.txt
selenium 
beautifulsoup4
webdriver-manager
undetected-chromedriver

# From ./Currentemp/requirements.txt
openmeteo-requests
requests-cache 
retry-requests 
geopy

# From ./requirements.txt


